<div class="d-grid">
  <% if connections.status == "accepted" %>
    <%= link_to connections.status.titleize, "javascript.void(0)", class: 'btn btn-success mt-2' %>
  <% elsif connections.status == "rejected" %> 
    <%= link_to connections.status.titleize, "javascript.void(0)", class: 'btn btn-danger mt-2' %>
  <% else %>
    <%= link_to connections.status.titleize, "javascript.void(0)", class: 'btn btn-primary mt-2' %>
  <% end %>
</div>