<div class="container mb-3">
 <%= form_with(model: [comment.commentable, comment], data: {controller: "emoji-picker"}) do |f| %>
 <div class="form-control">
  <%= content_tag(:div, "", class:"pickerContainer", data: {
    emoji_picker_target: "pickerContainer"
  }) %>
  <%= f.rich_text_area :title, class: 'form-control mt-2 mb-2', placeholder: "Add Comment", data: {
      emoji_picker_target: "trixEditor"
    } %>
  <%= f.submit submit_label, class: "btn btn-primary mt-1" %>
</div>
<% end %>
</div>
