<section class="vh-100 col-lg-10 mx-auto">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
     <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log in</p>
     <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
      class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div class="text-center text-lg-start mt-2 pt-2">
        <div class="card mt-2 shadow">
          <div class="card-body">
            <%= link_to 'Sign in with OTP', otp_verification_path, class: 'btn btn-primary mt-2' %>
          </div>
        </div>
        <div class="card mt-2 shadow">
          <div class="card-body">
            <%= button_to 'Sign with Google', user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: 'false' }, class: 'btn btn-primary mt-2' %>
          </div>
        </div>
        <div class="card mt-2 shadow">
          <div class="card-body">
            <%= link_to "Sign In with User ID", session_id_path, class: "btn btn-primary mt-2", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
