<!-- Button trigger modal for selected user -->
<button type="button" class="btn btn-primary" id="see-user" data-bs-toggle="modal" data-bs-target="#selectedModal" style="display: none;" >
  See Selected User
</button>

<!-- Modal -->
<div class="modal fade" id="selectedModal" tabindex="-1" aria-labelledby="selectedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectedModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal for selected user -->


<!-- for selecting the user through check box -->
<script>
  $(document).ready(function() {
    var selectedUsers = []; // Array to store the selected user IDs

    $(".user-select-check").on('click', function() {
      var userId = $(this).data("user-id");

      if ($(this).prop('checked')) {
        // Add the user ID to the selectedUsers array if the checkbox is checked
        selectedUsers.push(userId);
        $("#see-user").show();
      } else {
        // Remove the user ID from the selectedUsers array if the checkbox is unchecked
        selectedUsers = selectedUsers.filter(id => id !== userId);
        if (selectedUsers.length <= 0) {
          $("#see-user").hide();
        }
      }
    });

    // Function to populate the modal body with selected user information
    function populateModalBody() {
      var modalBody = $("#selectedModal .modal-body");
      modalBody.empty(); // Clear the modal body before populating it again

      // Iterate through the selectedUsers array and append user information to the modal body
      selectedUsers.forEach(function(userId) {
        var userCard = $("#user_" + userId).closest(".card-body");
        // var userImage = userCard.find("img").prop("outerHTML");
        var userName = userCard.find("h5").text();
        var profileTitle = userCard.find(".lead").text();
        var country = userCard.find(".text-primary").text();

        // Append user information to the modal body
        modalBody.append('<div class="selected-user-info">' +
          // userImage +
          '<h5>' + userName + '</h5>' +
          '<p class="lead">' + profileTitle + '</p>' +
          '<small class="text-primary">' + country + '</small>' +
          '</div>');
      });
    }

    // Trigger the function to populate the modal body when the "See Selected User" button is clicked
    $("#see-user").on("click", function() {
      populateModalBody();
    });

    // Clear the selectedUsers array and hide the "See Selected User" button when the modal is closed
    $("#selectedModal").on("hidden.bs.modal", function() {
      // Uncheck all checkboxes of the users that were previously selected
      $(".user-select-check").prop("checked", false);

      selectedUsers = [];
      $("#see-user").hide();
    });
  });
</script>

<style>
  .selected-user-info:not(:last-child) {
    border-bottom: 2px solid black;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
  }
</style>