<div class="col-lg-10 mx-auto mt-5">
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h3 class="text-center mb-3">Search Professionals across the world!</h3>
      <%= search_form_for @q, url:root_path, id:'search-result', remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.search_field :city_or_country_cont, class: 'form-control', placeholder: 'Search by country or city', area: { label: 'Search by country or city', describedby: 'button-addon2' }, data: { field_name: 'City or Country' } %>
        <%= form.submit 'Search', class:'btn btn-primary', id: 'button-addon2' %>
      </div>
      <% end %>
      <div class="fs-6 text-dark rounded-0 mt-2" id="results">    
      </div>

      <!-- Start For Search the country using tab -->
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-country="JO" onclick="countryStatus(this)" >Jordan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-country="VN" onclick="countryStatus(this)" >Vietnam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-country="Mayotte" onclick="countryStatus(this)" >Mayotte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-country="Swaziland" onclick="countryStatus(this)" >Swaziland</a>
          </li>
          <!-- Add more tabs for additional filters if needed -->
        </ul>
      </div>
      <!-- End For Search the country using tab -->


      <!-- Search the country by using search form -->
      <script>
       $(document).ready(function(){
        $("#button-addon2").click(function(){
          var x = $("#search-result").serializeArray();
          $.each(x, function(i, field){
            var fieldName = $(`input[name="${field.name}"]`).data('field-name') || field.name;
            $("#results").html(`<div class="badge bg-light cursor-pointer border text-dark p-2" >${fieldName} : ${field.value} <span class="float-end mx-2" id="close-button" ><i class="fa fa-close"></i></span></div>`);
          });
          $("#close-button").click(function(){
            $("#results").empty();
            $(this).hide();
            $("#search-result")[0].reset();
            $.ajax({
              url: '/',
              type: "GET",
              dataType: "script",
            });
          });
        });
      });
    </script>
  </div>
</div>

<!-- For Search the country using tab -->
<script>
  countryStatus = (object) => {
    var formData = $('#search-result').serializeArray();
    var searchValue = object.dataset.country;
    var combinedData = [];
    combinedData.push({ name: 'country', value: searchValue });
    $.each(formData, function(i,field){
      combinedData.push(field);
    });
    $.ajax({
      url: '/',
      type: "GET",
      dataType: "script",
      data: combinedData
    });
  };
</script>

<div id="users">
  <%= render 'user' %>
</div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
</div>
