<div class="col-lg-10 mx-auto mt-5">
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h3 class="text-center mb-3">Search Professionals across the world!</h3>
      <%= search_form_for @q, url:root_path, id:'search-result', remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.search_field :city_or_country_cont, class: 'form-control', placeholder: 'Search by country or city', area: { label: 'Search by country or city', describedby: 'button-addon2' } %>
        <%= form.submit 'Search', class:'btn btn-primary', id: 'button-addon2' %>
      </div>
      <% end %>
      <div id="results"></div>
      <script>
        $(document).ready(function(){
          $("#button-addon2").click(function(){
            var x = $("#search-result").serializeArray();
            $.each(x, function(i, field){
              $("#results").append(field.value + " ");
            });
          });
        });
      </script>
    </div>
  </div>
  <div id="users">
    <%= render 'user' %>
  </div>
</div>